<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Загрузка данных для проекта «Литейное производство»</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>

<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Чтение текстового файла</h1>
    <p class="lead">Выберите файл: \src\assets\items.csv</p>
    <input type="file" (change)="uploadListener($event)" accept=".csv" />
    <p *ngIf="fileInfo.data && fileInfo.data.length > 0"><ngx-json-viewer [json]="fileInfo" [expanded]="false"></ngx-json-viewer></p>
  </div>
</main>

